doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title  Сайт девелоперської компанії
    link(rel="stylesheet", href="style.css")
  body
    .conteiner
      .header
        img.header-img(src="./asset/img/header-img.png")
          .line 
          .line-1
          .nav
            .text1 Головна
            .text2 Наші проекти
            .text3 Послуги
            .text4 Новини
            .text5 Контакти
          .text6 Передова IT студія
          .text7 Ми створюємо легкі рішення важких задач і проблем
          button.a1 Наші проекти
      .section-1
        .box1
          .text-a1 Ми створюємо мобільні додатки для великих корпорацій
          .text-a2 Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.
          .img-box
            img.img1(scr="./asset/img/img1.png")
            img.img1(scr="./asset/img/img1.png")
            img.img1(scr="./asset/img/img1.png")
          button.a2 Всі послуги
        .bo2
          .text-a3 Високі стандарти розробки
          .text-a4 Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.
          .text-a5 Детальніше про компанію
          img.comp(scr="./asset/img/comp.png")
          line-2
          .box-img-01
            img.img-2(scr="./asset/img/img-2.png")
            img.img-2(scr="./asset/img/img-2.png")
            img.img-2(scr="./asset/img/img-2.png") 
            img.img-2(scr="./asset/img/img-2.png")
