*
    box-sizing: 
    margin: 0
    padding: 0    



body
    background: #000

.conteiner
    width: 1920px
    height: 5643px
    background: #FFF
    margin: 0 auto

.header
    width: 1920px
    height: 900px